@font-face {
font-family: "OpenSans";   
src: url("../fonts/OpenSans-bold.ttf"); 
font-style:normal; 
font-weight:700;
}
@font-face {
font-family: "OpenSans";  
src: url("../fonts/OpenSans-Light.ttf");  
font-weight:300;
}
@font-face {
font-family: "OpenSans";  
src: url("../fonts/OpenSans-Regular.ttf");  
font-weight:normal;
font-style:normal;
}
@font-face {
font-family: "OpenSans";  
src: url("../fonts/OpenSans-Semibold.ttf");  
font-weight:600;
font-style:normal;
}
