
 @media only screen and (max-width: 1280px){
	.wrapper{
		width: 90%;
		margin: 0 auto;
	}

	
}

 
@media only screen and (max-width: 1024px){

} 
	

@media only screen and (max-width: 767px){
	
	.main-header .main-header-content .btn--header{

		width: 100%;
		padding: 26px 26px 26px 26px ;
		text-align: center;

	}
	
} 
@media only screen and (max-width: 480px){
	.main-header .main-header-content .header__headline {
		 font-size: 100px;
	}
	.main-header .main-header-content .header__event{

	}
	.main-header .main-header-content .header__text{

		font-size: 18px;
		line-height: 1.4;
		width: 90%;
		margin-top: 45px;
	}
	.main-header .main-header-content .btn--header{
		margin-top: 50px;
		margin: 25px 0px 0 0px;
	}
} 